Repository d2foundry/oracle_engine, pull requests merged in 2023-09, with the labels that each got.

#46 add: necrochasm
  build_resources/cached_build.ron
  build_resources/weapon_formulas.json
  src/perks/exotic_perks.rs
  src/perks/mod.rs
  src/perks/perk_options_handler.rs
Labels: weapon support

#49 add: sword logic
  src/perks/mod.rs
  src/perks/perk_options_handler.rs
  src/perks/year_6_perks.rs
Labels: perk support

#52 chore: fix sword logic in pvp
  src/perks/year_6_perks.rs
Labels: perk support

#50 add: heavy burst hand cannon frame
  build.rs
  build_resources/cached_build.ron
  build_resources/weapon_formulas.json
Labels: weapon support

#33 chore: support clippy
  .vscode/settings.json
  build.rs
  src/abilities/mod.rs
  src/activity/damage_calc.rs
  src/activity/mod.rs
  src/d2_enums.rs
  src/enemies/mod.rs
  src/lib.rs
  src/logging.rs
  src/perks/buff_perks.rs
  src/perks/exotic_armor.rs
  src/perks/exotic_perks.rs
  src/perks/lib.rs
  src/perks/meta_perks.rs
  src/perks/mod.rs
  src/perks/origin_perks.rs
  src/perks/other_perks.rs
  src/perks/perk_options_handler.rs
  src/perks/year_1_perks.rs
  src/perks/year_2_perks.rs
  src/perks/year_3_perks.rs
  src/perks/year_4_perks.rs
  src/perks/year_5_perks.rs
  src/perks/year_6_perks.rs
  src/types/js_types.rs
  src/types/rs_types.rs
  src/weapons/dps_calc.rs
  src/weapons/mod.rs
  src/weapons/reserve_calc.rs
  src/weapons/stat_calc.rs
  src/weapons/ttk_calc.rs
  src/weapons/weapon_constructor.rs
Labels: enhancement

#55 add: issue templates and forms
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/generic.md
  .github/ISSUE_TEMPLATE/perk.yml
  .github/ISSUE_TEMPLATE/weapon.yml
Labels: enhancement

#60 fix: path of burning steps to be solar only
  build_resources/cached_build.ron
  src/perks/buff_perks.rs
Labels: perk support
